{{ define "main" }}

    <div class="tags-list">
        {{- with .Params.tags -}}
            {{- if ge (len .) 1 -}}
                {{- range . -}}
                    <a href="{{ $.Site.BaseURL }}/tags/{{ . | urlize }}/">#{{ . }}</a>
                {{ end -}}
            {{- end -}}
        {{- end -}}
    </div>

    <header class="content__header">
        <h1>{{ .Title | markdownify }}</h1>
    </header>
    <div class="content__body">
        {{ .Content }}
    </div>
    <footer class="content__footer"></footer>
{{ end }}

{{define "aside" }}
    {{ if .Params.description }}<p>{{ .Params.description }}</p>{{ end }}
    {{ if or (.Params.author) (.Params.date) }}
        <p>
            {{ if .Params.author }}By {{ .Params.author }}{{ if .Date }}, {{ end }}{{ end }}
            {{ if .Date }}{{ .Date.Format "2006-01-02" }}{{ end }}
        </p>
    {{ end }}
{{ end }}
