body {
    background-color: #000;
    margin: 0 auto;
    padding: 0;
    font-family: "Source Code Pro", monospace;
    font-size: 12.5px;
    color: #DBDBDB;
    text-align: left;
    line-height: 1.5 !important;
}

header {
    border-top: dashed 1px rgba(219, 219, 219, 0.9);
    border-bottom: dashed 1px rgba(219, 219, 219, 0.9);
    /* margin-bottom: 25px; */
    margin-top: 25px;
    padding: 10px 0px;
}

footer {
    border-top: dashed 1px rgba(219, 219, 219, 0.9);
    /* border-bottom: dashed 1px rgba(219,219,219,0.9); */
    /* margin-bottom: 25px; */
    /* margin-top: 25px; */
    padding: 10px 0px;
    text-align: right;
}

main {
    padding: 25px 0px;
}

.page-size-limiter {
    width: 90%;
    max-width: 600px;
    margin-right: auto;
    padding: 0px 20px;
    /* margin-left: 10px; */
}

@media only screen and (max-width: 600px) {
    body {
        width: 100%;
    }
    .page-size-limiter {
        width: auto;
        padding-left: 10px;
        margin: 0px;
        padding: 0px 30px;
    }
}

hr {
    margin-bottom: 25px;
    margin-top: 25px;
    border: none;
    border-top: dashed 1px rgba(219, 219, 219, 0.9);
}

ul {
    padding-left: 0px;
    list-style-type: none;
}

.linklist>li {
    margin-bottom: 1rem;
}

.linklist a {
    font-weight: bold;
}

:not(.menu)>ul>li {
    width: 100%;
}

:not(.menu)>ul>li::before {
    content: "-";
}

a {
    text-decoration: underline;
    color: #DBDBDB;
}

a[href]:hover {
    color: #000;
    background-color: #DBDBDB
}

a:not([href]):hover {
    color: red;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 12.5px;
    margin: 0px;
    margin-top: 22px;
    font-weight: bold;
    color: #DBDBDB
}

span.workingon {
    display: block;
    color: rgb(173, 255, 173);
}

span.workingon:before {
    content: ' \25CF';
    margin-right: 6px;
    animation-name: activedot;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes activedot {
    0% {
        color: black;
    }
    50% {
        color: rgb(0, 255, 0);
    }
    100% {
        color: black;
    }
}

div.description {
    /* margin-left: 16px; */
}